<!DOCTYPE html>
<html ng-app="myApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="app.js"></script>  
<link rel="stylesheet" href="css/style1.css">
</head>
<body ng-controller="MainCtrl">
  <h3>Login</h3>
  <!-- Form to get username & Password -->
   <!-- <form name="myForm">
      <label>Username:</label><input type="email" ng-model="user.username" /></br></br>
      <label></label>Password:</label><input type="password" ng-model="user.password"></br>
      <button  type="submit" ng-click="submit()">login</button>
  </form> -->
 
  <div  class="container">
    <form name="myForm">
      <div class="login-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" ng-model="user.username" required class="form-control">
              <div ng-show="myForm.email.$error.email" class="error">Invalid email!</div>
              <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">Required!</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="pass" ng-model="user.password" required class="form-control">
              <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">Required!</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button ng-click="authenticate()" ng-disabled="myForm.$invalid" class="btn btn-success pull-right">Login</button>
              <a href="views/resister.htm">Resister</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ng-show="showError" class="alert alert-danger">Wrong credentials!</div>
            <div ng-show="showSuccess" class="alert alert-success">Login Successful!</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <!-- Displaying the Array using ng-repeat -->
 <h2>user table</h2>
 <ul>
   <li ng-repeat="x in validUsers">
     <a>{{x.user.username}}</a>
   </li>
 </ul>
  </body>
</html>
